---
http_interactions:
- request:
    method: get
    uri: https://api.tightknit.ai/admin/v0/calendar_events?page=0&per_page=10&status=published&time_filter=upcoming
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Speculation-Rules:
      - '"/cdn-cgi/speculation"'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"page":0,"per_page":10,"count":1,"total_records":1,"total_pages":1,"has_next":false,"records":[{"id":"7igq7z173gc9","created_at":"2025-04-01T11:53:07.78104+00:00","updated_at":"2026-01-30T03:20:25.493019+00:00","allow_public_guest_list":false,"description_slack_blocks":[{"type":"rich_text","elements":[{"type":"rich_text_section","elements":[{"text":"Advancing
        Healthcare Innovations Worldwide","type":"text","style":{"bold":true}},{"text":"\n\nJoin
        global thought leaders, innovators, and healthcare professionals at the Global
        Health Summit. This essential gathering aims to discuss and promote advancements
        in healthcare innovations, focusing on improving global health outcomes.\n\n","type":"text"},{"text":"Summit
        Highlights:","type":"text","style":{"bold":true}},{"text":"\n","type":"text"}]},{"type":"rich_text_list","style":"bullet","border":0,"indent":0,"elements":[{"type":"rich_text_section","elements":[{"text":"Dynamic
        discussions on current trends in health tech","type":"text"}]},{"type":"rich_text_section","elements":[{"text":"Collaborative
        workshops to tackle pressing issues","type":"text"}]},{"type":"rich_text_section","elements":[{"text":"Networking
        sessions for building international partnerships","type":"text"}]}]},{"type":"rich_text_section","elements":[{"text":"\nParticipate
        in this collaborative environment to inspire action and foster a healthier
        future worldwide.","type":"text"}]}]}],"description_slack_blocks_references":{"mentioned_slack_users":[],"mentioned_slack_channels":[],"custom_emojis":[],"urls":[]},"enable_registration_button":false,"end_date":"2026-06-21T16:00:00+00:00","external_speakers":null,"is_unlisted":false,"link":null,"location":"The
        Grand Plaza","luma_event_id":null,"publish_to_site":false,"triggers_webhooks":false,"recap_slack_blocks":null,"recap_slack_blocks_references":{"mentioned_slack_users":[],"mentioned_slack_channels":[],"custom_emojis":[],"urls":[]},"recording_link":null,"webhook_custom_metadata":null,"show_end_date":true,"slug":"global-health-summit","start_date":"2026-06-20T11:00:00+00:00","status":"published","title":"Global
        Health Summit","use_registration_btn_as_link":false,"attendees_count":0,"published_to":[{"slack_channel_id":"C08HCRJ9Z7B","slack_message_permalink":"https://lokbros-studio-hub.slack.com/archives/C08HCRJ9Z7B/p1743508486839619","feed_id":null}],"hosts":[{"profile_id":"3c17c179-c59a-4dd2-84ae-9b6589865706","created_at":"2025-03-13T00:43:07.14804+00:00","preferred_name":"Nabeel","preferred_image_original":"https://avatars.slack-edge.com/2025-03-12/8605564475041_186539fc1025fd111251_original.jpg","preferred_image_1024":"https://avatars.slack-edge.com/2025-03-12/8605564475041_186539fc1025fd111251_1024.jpg","preferred_image_512":"https://avatars.slack-edge.com/2025-03-12/8605564475041_186539fc1025fd111251_512.jpg","preferred_image_192":"https://avatars.slack-edge.com/2025-03-12/8605564475041_186539fc1025fd111251_192.jpg","preferred_image_72":"https://avatars.slack-edge.com/2025-03-12/8605564475041_186539fc1025fd111251_72.jpg","preferred_image_48":"https://avatars.slack-edge.com/2025-03-12/8605564475041_186539fc1025fd111251_48.jpg","preferred_image_32":"https://avatars.slack-edge.com/2025-03-12/8605564475041_186539fc1025fd111251_32.jpg","preferred_image_24":"https://avatars.slack-edge.com/2025-03-12/8605564475041_186539fc1025fd111251_24.jpg","slack_user_id":"U08G5NMP269","slack_is_admin":false,"slack_is_bot":false,"slack_image_72":"https://avatars.slack-edge.com/2025-03-12/8605564475041_186539fc1025fd111251_72.jpg","slack_image_original":"https://avatars.slack-edge.com/2025-03-12/8605564475041_186539fc1025fd111251_original.jpg"}],"speakers":[{"profile_id":"cfa233f7-a0ac-431e-8f94-27a286f2ac32","created_at":"2025-03-07T21:27:39.926104+00:00","preferred_name":"Saalik","preferred_image_original":"https://avatars.slack-edge.com/2025-03-05/8553243603539_a17208ec0a2fe09127eb_original.jpg","preferred_image_1024":"https://avatars.slack-edge.com/2025-03-05/8553243603539_a17208ec0a2fe09127eb_1024.jpg","preferred_image_512":"https://avatars.slack-edge.com/2025-03-05/8553243603539_a17208ec0a2fe09127eb_512.jpg","preferred_image_192":"https://avatars.slack-edge.com/2025-03-05/8553243603539_a17208ec0a2fe09127eb_192.jpg","preferred_image_72":"https://avatars.slack-edge.com/2025-03-05/8553243603539_a17208ec0a2fe09127eb_72.jpg","preferred_image_48":"https://avatars.slack-edge.com/2025-03-05/8553243603539_a17208ec0a2fe09127eb_48.jpg","preferred_image_32":"https://avatars.slack-edge.com/2025-03-05/8553243603539_a17208ec0a2fe09127eb_32.jpg","preferred_image_24":"https://avatars.slack-edge.com/2025-03-05/8553243603539_a17208ec0a2fe09127eb_24.jpg","slack_user_id":"U08FTAZTVJT","slack_is_admin":true,"slack_is_bot":false,"slack_image_72":"https://avatars.slack-edge.com/2025-03-05/8553243603539_a17208ec0a2fe09127eb_72.jpg","slack_image_original":"https://avatars.slack-edge.com/2025-03-05/8553243603539_a17208ec0a2fe09127eb_original.jpg"}],"cover_image_url":"https://pthsiwxwiiowghdtkwlv.supabase.co/storage/v1/object/public/slack_files/T08FTAZT2S3/cfa233f7-a0ac-431e-8f94-27a286f2ac32/F08L632FZA9/11.jpg","tags":[],"reminders_config":[{"minutes":10}]}]}}'
  recorded_at: Sat, 07 Feb 2026 03:55:03 GMT
recorded_with: VCR 6.3.1
