---
http_interactions:
- request:
    method: get
    uri: https://api.tightknit.ai/admin/v0/calendar_events/cqquykanltdo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Speculation-Rules:
      - '"/cdn-cgi/speculation"'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":"cqquykanltdo","created_at":"2025-03-11T13:06:35.552988+00:00","updated_at":"2026-01-30T03:20:25.493019+00:00","allow_public_guest_list":false,"description_slack_blocks":[{"type":"rich_text","elements":[{"type":"rich_text_section","elements":[{"text":"As
        startups look to establish their presence in the competitive digital marketplace,
        understanding ","type":"text"},{"text":"effective marketing strategies","type":"text","style":{"italic":true}},{"text":"
        is essential. In this informative virtual event, we will host a panel of successful
        entrepreneurs who have effectively harnessed the power of digital marketing
        to scale their businesses.\n\nThis event will delve into critical areas such
        as ","type":"text"},{"text":"content marketing","type":"text","style":{"italic":true}},{"text":",
        ","type":"text"},{"text":"social media engagement","type":"text","style":{"italic":true}},{"text":",
        and ","type":"text"},{"text":"search engine optimization (SEO)","type":"text","style":{"italic":true}},{"text":".
        Our speakers will share their personal experiences, highlighting both successes
        and challenges faced in their digital marketing journeys. You''ll gain insights
        into how to craft compelling narratives, identify target audiences, and leverage
        analytics to track your marketing efforts effectively.\n\n","type":"text"},{"text":"What
        You Will Learn:","type":"text","style":{"bold":true}},{"text":"\n","type":"text"}]},{"type":"rich_text_list","style":"bullet","border":0,"indent":0,"elements":[{"type":"rich_text_section","elements":[{"text":"Content
        Creation:","type":"text","style":{"italic":true}},{"text":" How to develop
        engaging content that resonates with your target audience.","type":"text"}]},{"type":"rich_text_section","elements":[{"text":"Social
        Media Strategies:","type":"text","style":{"italic":true}},{"text":" Techniques
        for building an active and engaged online community around your brand.","type":"text"}]},{"type":"rich_text_section","elements":[{"text":"SEO
        Tactics:","type":"text","style":{"italic":true}},{"text":" Proven methods
        for improving your search engine rankings and driving organic traffic.","type":"text"}]},{"type":"rich_text_section","elements":[{"text":"Interactive
        Q&A:","type":"text","style":{"italic":true}},{"text":" Participate in discussions
        and ask questions directly to our expert panel.","type":"text"}]}]},{"type":"rich_text_section","elements":[{"text":"\n","type":"text"},{"text":"Join
        us for a collaborative session","type":"text","style":{"bold":true}},{"text":"
        where you will have the opportunity to ask questions, share your experiences,
        and learn from others in the startup community. This is an essential event
        for anyone looking to maximize their startup''s visibility and drive growth
        through digital marketing!","type":"text"}]}]}],"description_slack_blocks_references":{"mentioned_slack_users":[],"mentioned_slack_channels":[],"custom_emojis":[],"urls":[]},"enable_registration_button":false,"end_date":"2025-03-20T20:00:00+00:00","external_speakers":"Nabeel","is_unlisted":false,"link":null,"location":"Virtual","luma_event_id":null,"publish_to_site":false,"triggers_webhooks":false,"recap_slack_blocks":null,"recap_slack_blocks_references":{"mentioned_slack_users":[],"mentioned_slack_channels":[],"custom_emojis":[],"urls":[]},"recording_link":null,"webhook_custom_metadata":null,"show_end_date":false,"slug":"digital-marketing-strategies-for-startups","start_date":"2025-03-20T18:00:00+00:00","status":"published","title":"Digital
        Marketing Strategies for Startups","use_registration_btn_as_link":false,"attendees_count":0,"published_to":[{"slack_channel_id":"C08HCRJ9Z7B","slack_message_permalink":"https://lokbros-studio-hub.slack.com/archives/C08HCRJ9Z7B/p1741699122677879","feed_id":null}],"hosts":[{"profile_id":"f02f2a84-22e2-4398-8786-6598260d5aca","created_at":"2025-03-11T11:53:02.403255+00:00","preferred_name":"Kaam","preferred_image_original":"https://avatars.slack-edge.com/2025-03-11/8606825560656_5202b2170ecba82b5e35_original.jpg","preferred_image_1024":"https://avatars.slack-edge.com/2025-03-11/8606825560656_5202b2170ecba82b5e35_1024.jpg","preferred_image_512":"https://avatars.slack-edge.com/2025-03-11/8606825560656_5202b2170ecba82b5e35_512.jpg","preferred_image_192":"https://avatars.slack-edge.com/2025-03-11/8606825560656_5202b2170ecba82b5e35_192.jpg","preferred_image_72":"https://avatars.slack-edge.com/2025-03-11/8606825560656_5202b2170ecba82b5e35_72.jpg","preferred_image_48":"https://avatars.slack-edge.com/2025-03-11/8606825560656_5202b2170ecba82b5e35_48.jpg","preferred_image_32":"https://avatars.slack-edge.com/2025-03-11/8606825560656_5202b2170ecba82b5e35_32.jpg","preferred_image_24":"https://avatars.slack-edge.com/2025-03-11/8606825560656_5202b2170ecba82b5e35_24.jpg","slack_user_id":"U08G5NNLCH3","slack_is_admin":false,"slack_is_bot":false,"slack_image_72":"https://avatars.slack-edge.com/2025-03-11/8606825560656_5202b2170ecba82b5e35_72.jpg","slack_image_original":"https://avatars.slack-edge.com/2025-03-11/8606825560656_5202b2170ecba82b5e35_original.jpg"}],"speakers":[],"cover_image_url":"https://pthsiwxwiiowghdtkwlv.supabase.co/storage/v1/object/public/slack_files/T08FTAZT2S3/cfa233f7-a0ac-431e-8f94-27a286f2ac32/F08H8BAAK0T/1.png","tags":[],"reminders_config":[{"minutes":10}]}}'
  recorded_at: Sat, 07 Feb 2026 03:55:02 GMT
recorded_with: VCR 6.3.1
