---
http_interactions:
- request:
    method: get
    uri: https://api.tightknit.dev/admin/v0/feeds/b7a0df7e-e867-4847-8577-3bed1774ac7c/posts?page=0&per_page=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"page":0,"per_page":10,"count":1,"total_records":1,"total_pages":1,"has_next":false,"records":[{"id":"u580h2qjuc8x","created_at":"2025-05-14T19:16:38.630803+00:00","title":"LokBros
        Studio Praises Tightknit for Building Online Communities","slug":"lokbros-studio-praises-tightknit-for-building-onli","feed_id":"b7a0df7e-e867-4847-8577-3bed1774ac7c","author_profile_id":"cfa233f7-a0ac-431e-8f94-27a286f2ac32","read_time_minutes":1,"file_attachments_count":0,"reactions_count":0,"comments_count":0,"slack_message":{"id":"48be2df9-5c99-4668-89f1-4837a1abd06c","message_ts":1747250195.525399,"blocks":[{"type":"rich_text","block_id":"UZA6H","elements":[{"type":"rich_text_section","elements":[{"text":"Hello
        everyone! LokBros Studio is a huge fan of Tightknit. We think it''s the best
        way to make an online community. The power of Slack + the superpowers of online
        community builders. ","type":"text"},{"name":"yarn","type":"emoji","unicode":"1f9f6"},{"text":"
        ","type":"text"},{"name":"heart","type":"emoji","unicode":"2764-fe0f"},{"text":"
        ","type":"text"},{"name":"zap","type":"emoji","unicode":"26a1"}]}]}],"markdown":"Hello
        everyone! LokBros Studio is a huge fan of Tightknit. We think it''s the best
        way to make an online community. The power of Slack + the superpowers of online
        community builders. :yarn: :heart: :zap:","permalink":"https://lokbros-studio-hub.slack.com/archives/C08FTB08V5M/p1747250195525399","parent_slack_message_id":null},"author":{"profile_id":"cfa233f7-a0ac-431e-8f94-27a286f2ac32","created_at":"2025-03-07T21:27:39.926104+00:00","preferred_name":"Saalik","slack_user_id":"U08FTAZTVJT","slack_is_admin":true,"slack_is_bot":false,"slack_image_72":"https://avatars.slack-edge.com/2025-03-05/8553243603539_a17208ec0a2fe09127eb_72.jpg","slack_image_original":"https://avatars.slack-edge.com/2025-03-05/8553243603539_a17208ec0a2fe09127eb_original.jpg"},"feed":{"id":"b7a0df7e-e867-4847-8577-3bed1774ac7c","label":"Announcements","slug":"announcements"},"references":{"mentioned_slack_users":[],"mentioned_slack_channels":[],"custom_emojis":[],"urls":[]}}]}}'
  recorded_at: Wed, 14 May 2025 19:24:50 GMT
recorded_with: VCR 6.3.1
